.logoImage {
    background: linear-gradient(267deg, #0042aa, #008cb4);
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
    padding: 2px;
}